[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
jupyter = "*"
matplotlib = "*"
seaborn = "*"
tensorboard = "*"

[packages]
tensorflow = "*"
fire = "*"
numpy = "*"
pandas = "*"
pyyaml = "*"
scikit-learn = "*"
h5py = "*"

[requires]
python_version = "3.7"
